.wraper{display: block; width: 50%; margin: 0 auto}
.text{display: block; margin: 0 auto; font-size: 16pt; width: 450px; text-align: center;}
.table{width: 456px; height: 456px; float: left; display: table; margin: 25px 0 25px; border: 1px black solid}
.game-setting{display: block; margin: 0 0 0 25px; float: left;}
.table-cell{width: 150px; height: 150px; border: 1px black solid; display: inline-block; float: left; cursor: pointer; position: relative;}
.table-cell-5{width: 89px;height: 89px; border: 1px black solid; display: inline-block; float: left; cursor: pointer; position: relative;}
.table-cell-10{width: 43px;height: 43px; border: 1px black solid; display: inline-block; float: left; cursor: pointer; position: relative;}
.table-cell:nth-child(2N){background: rgba(0,0,0, 0.1);}
.game-status{width: 100%; height: 80px; display: block; margin: 25px auto 0; border: 1px solid black}
.round{max-width: 150px; max-height: 150px; background: url("../img/round.png") no-repeat; z-index: 100; display: block; position: absolute;}
.cross{max-width: 150px; max-height: 150px; background: url("../img/cross.png") no-repeat; z-index: 100; display: block; position: absolute;}
.hide{display: none;width: 1px;height: 1px; visibility: hidden;}